<ul class="nav nav-tabs">
    <li class="nav-item">
        <NavLink class="nav-link" href="admin/churches">
            Churches
        </NavLink>
        <NavLink class="nav-link" href="admin/events">
            Events
        </NavLink>
    </li>
</ul>

@code {

}
